[MASTER]
max-line-length=120
[MESSAGES CONTROL]
disable=bare-except,
        broad-except,
        c-extension-no-member,
        consider-iterating-dictionary,
        duplicate-code,
        fixme,
        invalid-name,
        import-error,
        missing-docstring,
        no-name-in-module,
        too-few-public-methods,
        too-many-branches,
        too-many-boolean-expressions,
        too-many-instance-attributes,
        too-many-statements,
        too-many-arguments,
        too-many-locals,
        ungrouped-imports,
        unused-argument,
        useless-super-delegation,
        protected-access,
        relative-beyond-top-level,
        simplifiable-if-expression,
        too-many-lines,
        raise-missing-from,
        unnecessary-lambda,
        trailing-whitespace
